<header class="header">
	<nav class="primary-nav">
		<a class="logo" href="/">[p<span class="concealable">a.laˈsi.mi</span>]</a>

		<!--Placeholder only; gets replaced in js.-->
		<div id="placeholder-search-box" class="search-box">
			<div class="search-input">
				<img class="icon" src="icons/phosphor2/magnifying-glass.svg" alt="">
				<input placeholder="Search colexification graphs" autocapitalize="none">
			</div>
		</div>

		<button id="random" class="icon-button" title="Random word sense">
			<img class="icon" src="icons/phosphor2/dice-five.svg" alt="">
		</button>
	</nav>
</header>
